<ul>
      <li><h3><a href="mailto:marwa@gmail.com">Gmail</a></h3></li>
      <li>
        <h3>
          <a href="https://linkedin.com/in/marwaguendouzi" target="_blank"
            >LinkedIn</a>
        </h3>
      </li>
      <li>
        <h3>
          <a href="https://github.com/marwagunn" target="_blank">GitHub</a>
        </h3>
      </li>
    </ul>